{% extends 'base.html' %}
{% block title %}追加楽曲{% endblock title %}
{% block content %}
{% load numeral_system %}
{% load humanize %}
{% load simple_calc %}
<form method="POST"> {% csrf_token %}
  <span>{{ form.name }}</span><br>
  <div>
    {% for item in form.category %}
    <input class="tag_box_choice" type="checkbox" id="{% plusCalc2 'category' forloop.counter 2 %}">
    <label  class="tag_box2" for="{% plusCalc2 'category' forloop.counter 2 %}">{{ item }} </label>
    {% endfor %}
  </div>
  
  <span>{{ form.snsURL }}</span><br>
  <span>{{ form.snsUserName }}</span><br>
  <button class="btn btn-primary form-control" type="submit">登録</button>
</form>

{% endblock content %}