{% load simple_calc %}
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #0f0f0f; border-radius : 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size:25px; color: #f1f1f1; font-weight:bold;" href=" {% url 'top' %} ">ホロ歌集計部(仮)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" {% url 'top' %} ">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a> bg-secondary
        </li> -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: #f1f1f1; font-weight:bold;"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            新旧所属タレント
          </a>
          <ul class="dropdown-menu dropdown-menu_latout" aria-labelledby="navbarDropdown">
            <div style="text-align: center;">
              <span class="header_talent_title" >Youtubeへ飛びます</span>
            </div>
            <div style="display: grid; grid-template-columns: 25% 25% 25% 25%;">
              <div><!--JPall_1-->
                <div style="text-align: center;">
                  <span class="header_talent_title">ホロライブ 0期生～</span>
                </div>
              {% for talent in JPall_1 %}
              {% if talent not in exTalents %}
                <li>
                  <a class="dropdown-item dropdown-item_layout" href="{% plusCalc2 'https://www.youtube.com/channel/' talent.channelId 0 %}" target="_blank" rel="noopener noreferrer">
                    <img class="avator-image" src="{{ talent.thumbnailDefault }}" alt="Author">
                    <span style="font-size: small;">{{ talent.name }}</span>
                  </a>
                </li>
              {% endif %}
              {% endfor %}
              </div>
              <div><!--JPall_2-->
                <div style="text-align: center;">
                  <span class="header_talent_title">ホロライブ 3期生～</span>
                </div>
                {% for talent in JPall_2 %}
                {% if talent not in exTalents %}
                  <li>
                    <a class="dropdown-item dropdown-item_layout" href="{% plusCalc2 'https://www.youtube.com/channel/' talent.channelId 0 %}" target="_blank" rel="noopener noreferrer">
                      <img class="avator-image" src="{{ talent.thumbnailDefault }}" alt="Author">
                      <span style="font-size: small;">{{ talent.name }}</span>
                    </a>
                  </li>
                {% endif %}
                {% endfor %}
                </div>
              <div><!--ENIDall-->
              <!--ENall-->
                <div style="text-align: center;">
                  <span class="header_talent_title">hololive English</span>
                </div>
                {% for talent in ENall %}
                {% if talent not in exTalents %}
                <li>
                  <a class="dropdown-item dropdown-item_layout" href="{% plusCalc2 'https://www.youtube.com/channel/' talent.channelId 0 %}" target="_blank" rel="noopener noreferrer">
                    <img class="avator-image" src="{{ talent.thumbnailDefault }}" alt="Author">
                    <span style="font-size: small;">{{ talent.name }}</span>
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              <!--IDall-->
                <div style="text-align: center;">
                  <span class="header_talent_title">hololive Indonesia</span>
                </div>
                {% for talent in IDall %}
                {% if talent  not in exTalents %}
              <li>
                <a class="dropdown-item dropdown-item_layout" href="{% plusCalc2 'https://www.youtube.com/channel/' talent.channelId 0 %}" target="_blank" rel="noopener noreferrer">
                  <img class="avator-image" src="{{ talent.thumbnailDefault }}" alt="Author">
                  <span style="font-size: small;">{{ talent.name }}</span>
                </a>
              </li>
                {% endif %}
                {% endfor %}
              </div>
              <div><!-- 卒業 -->
                <div style="text-align: center;">
                  <span class="header_talent_title">卒業生()</span>
                </div>
                {% for talent in exTalents %}
                <li>
                  <a class="dropdown-item dropdown-item_layout" href="{% plusCalc2 'https://www.youtube.com/channel/' talent.channelId 0 %}" target="_blank" rel="noopener noreferrer">
                    <img class="avator-image" src="{{ talent.thumbnailDefault }}" alt="Author">
                    <span style="font-size: small;">{{ talent.name }}</span>
                  </a>
                </li>
                {% endfor %}
              </div>
            </div>
          </ul>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: #f1f1f1; font-weight:bold;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            公式ch.リンク
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCJFZiqLMntJufDCHc6bQixg" target="_blank" rel="noopener noreferrer">JP公式チャンネル</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCotXwY6s8pWmuWd_snKYjhg" target="_blank" rel="noopener noreferrer">EN公式チャンネル</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCfrWoRGlawPQDQxxeIDRP0Q" target="_blank" rel="noopener noreferrer">ID公式チャンネル</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ公式サイト</a></li>
          </ul>
        </li>
        {% if request.user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">管理者権限</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white; font-weight:bold;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            管理者権限
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div style="text-align: center;">
              <span>追加項目</span>
            </div>
            <li><a class="dropdown-item" href="#">チャンネル[実装途中]</a></li>
            <li><a class="dropdown-item" href="{% url 'list' %}">楽曲</a></li>
            <li><a class="dropdown-item" href="#">楽曲の情報[実装途中]</a></li>
            <li><a class="dropdown-item" href="#">関係者の追加[実装途中]</a></li>
          </ul>
        </li>
        {% endif %}
        
      </ul>
      
      
      {% if request.user.is_anonymous %}
        <form class="d-flex" action="{% url 'login' %}">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-dark" style="background-color: #31d2f2;" type="submit">ログイン</button> -->
          <!--https://getbootstrap.jp/docs/5.0/components/buttons/#outline-buttons-->
          <button class="btn btn-outline-dark" style="background-color: #31d2f2;">
            <a style="text-decoration: none;
                      color: #323f5c;
                      font-weight: bold;"
               href="{% url 'login' %}">ログイン</a></button>
          <button class="btn btn-outline-dark" style="background-color: #fff;"><a href="{% url 'user_create' %}">新規登録</a></button>
        </form>
      {% else %}
      
      <button class="btn btn-outline-dark" style="background-color: #31d2f2;">
        <a href="{% url 'logout' %}">{{ request.user }}さん</a>
      </button>
      {% endif %}
      
    </div>
  </div>
</nav>
