{% extends 'base.html' %}

{% block title %}チャンネル一覧{% endblock title %}

{% block content %}
  {% for item in object_list %}
    <h5 class="card-header">{{ item.name }}:{{ item.age }}</h5>
    <div class="card-body">
      <p class="card-text">{{ item.description }}</p>
      <a href="#" class="btn btn-primary">Go SomeWhere</a>
      {% for gen in item.category.all %}
      <h6 style="color: blue;
                display: inline-block;
                _display: inline;">{{ gen }}</h6>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

{% endblock content %}



