{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load simple_calc %}
{% block title %}編集{% endblock title %}
{% block content %}
<hr>
<form method="post">{% csrf_token %}
  {% for field in form %}
    <div class="" style="min-width: 360px; user-select: none;">
      <span class="" style="background-color: green;">{{ field.label }}</span><!--col-sm-1 col-form-label for="{{ form.lyricist.id_for_label }}"-->
      <div class="update_choice">
        {{ field }}
        <a href="#" class="tag_box2 update_choice_add">新規追加</a>
      </div>
    </div>
  {% endfor %}
    
    
    <!----------------------------------------------------------->
<!--https://hodalog.com/how-to-use-bootstrap-4-forms-with-django/-->

  <hr>
    <div class="">
      <button type="submit" class="btn btn-info btn-block">更新</button>
    </div>

</form>

{% endblock content %}