{% extends "base.html" %}
{% block title %}歌唱曲詳細:{{ object.title }} {% endblock title %}
{% block content %}
{% load humanize %}
<br>
<div  class="container" 
      style="
            background-size: contain;
            object-fit: cover;
            background-color: #000000;
            background-blend-mode: lighten;"><!--background-image: url({{ object.getThumbnailHigh }});-->
  <div class="row">
    <!-- <div> -->
    <h1 class="title_position title_link">{{ object.title| truncatechars:25 }}</h1><!--タイトル-->
    <div class="title_link">
      {% for type in object.videoType.all %}
      <span>{{ type }}</span><!--動画のタイプ-->
      {% endfor %}
    </div>
      
    <!-- </div> -->
    <div class="col col-lg-8 ">
      <div>
        <span>投稿日:{{ object.videoAge }}</span>
        <a href="{{ object.getVideoUrl }}" target="_blank" rel="noopener noreferrer" alt="performerImage">
          <img style="width: 100%;" src="{{ object.getThumbnailHigh }}" alt="thumbnailImage">
        </a>
      </div>
      <div class="layout_performer">
        {% for pfmr in object.performer.all %}
        <img style="margin: 1px;
                    width: 40px;
                    border-radius: 50%;"
             src="{{ pfmr.thumbnailDefault }}" href="#">
        {% endfor %}
      </div>

      <div class="collaborator_box">
        <div>
          <span>作詞家:</span><br>
          {% for name in object.lyricist.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="lyricist" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>作曲家:</span><br>
          {% for name in object.composer.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="composer" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>編曲家:</span><br>
          {% for name in object.arranger.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="arranger" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>ミックス:</span><br>
          {% for name in object.mix.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="mix" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>音楽:</span><br>
          {% for name in object.inst.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="inst" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>動画:</span><br>
          {% for name in object.movie.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="movie" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>イラスト:</span><br>
          {% for name in object.illust.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="illust" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>外部共演者:</span><br>
          {% for name in object.coStar.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="coStar" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
        <div>
          <span>本家歌い手:</span><br>
          {% for name in object.originalSinger.all %}
            <form class="tag_box_how_to_put" action="{% url 'work' pk=name.pk %}" method="get">{% csrf_token %}
              <input class="tag_box" style="background-color: #35363a; color: #ffffff;" type="submit"  id="{{ name.pk }}" name="originalSinger" value="{{ name }}">
            </form>
          {% endfor %}
        </div>
      </div>
      {% if request.user.is_anonymous %}
      <div class="" style="background-color: #63f4ff; text-align: right;"><!--データの編集-->
        <a class="tag_box2" href="#">編集</a>
        <span>&nbsp;(ログイン後可能)&nbsp;</span>
      </div>
      {% else %}
      <div class="" style="background-color: #63f4ff; text-align: right;"><!--データの編集-->
          <a class="tag_box2" href="{% url 'update' pk=object.pk %}">編集</a>
      </div>
      {% endif %}

      <img style="width: 100%; min-width :330px; border:dotted;"
            src="data:image/png;base64,{{ viewgraph | safe }}" id="viewGraph" alt="視聴回数推移">
      <img style="width: 100%; min-width :330px; border:dotted;"
            src="data:image/png;base64,{{ likegraph | safe }}" id="likeGraph" alt="高評価数数推移">
    </div>

    <div class="col col-lg-4"><!--推移表-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" onclick="showimg0()">
          <button class="nav-link active" id="totalSheetTab" data-bs-toggle="tab"
                  data-bs-target="#totalSheet" type="button" role="tab"
                  aria-controls="totalSheet" aria-selected="true">総計推移</button>
        </li>
        <li class="nav-item" role="presentation" onclick="showimg7()">
          <button class="nav-link" id="weeklySheetTab" data-bs-toggle="tab"
                  data-bs-target="#weeklySheet" type="button" role="tab"
                  aria-controls="weeklySheet" aria-selected="false">週間推移</button>
        </li>
        <li class="nav-item" role="presentation" onclick="showimg30()">
          <button class="nav-link" id="monthlySheetTab" data-bs-toggle="tab"
                  data-bs-target="#monthlySheet" type="button" role="tab"
                  aria-controls="monthlySheet" aria-selected="false">月間推移</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="totalSheet"
              role="tabpanel" aria-labelledby="totalSheetTab">
          <table class="table table-striped">
            <thead>
              <tr class="table-primary">
                <!-- <th scope="col">#</th> -->
                <th scope="col">集計日</th>
                <th scope="col">再生回数</th>
                <th scope="col">高評価数</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
              <tr class="table-info">
                <!-- <th scope="row">1</th> -->
                <td>{{result.aggregationDate|date:"Y-m-j"}}</td>
                <td>{{result.viewCount}}</td>
                <td>{{result.likeCount}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="weeklySheet"
              role="tabpanel" aria-labelledby="weeklySheetTab">
          <table class="table table-striped">
            <thead>
              <tr class="table-primary">
                <!-- <th scope="col">#</th> -->
                <th scope="col">集計日</th>
                <th scope="col">再生回数</th>
                <th scope="col">高評価数</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
              <tr class="table-info">
                <!-- <th scope="row">1</th> -->
                <td>{{result.aggregationDate|date:"Y-m-j"}}</td>
                <td>{{result.viewCount7}}</td>
                <td>{{result.likeCount7}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="monthlySheet"
              role="tabpanel" aria-labelledby="monthlySheetTab">
          <table class="table table-striped">
            <thead>
              <tr class="table-primary">
                <!-- <th scope="col">#</th> -->
                <th scope="col">集計日</th>
                <th scope="col">再生回数</th>
                <th scope="col">高評価数</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
              <tr class="table-info">
                <!-- <th scope="row">1</th> -->
                <td>{{result.aggregationDate|date:"Y-m-j"}}</td>
                <td>{{result.viewCount30}}</td>
                <td>{{result.likeCount30}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      
      <script type="text/javascript">

      //let viewCount = "&nbsp;総合再生回数:{{result.viewCount | intcomma }}&nbsp;"
      //let likeCount = "&nbsp;総合高評価数:{{result.likeCount | intcomma }}&nbsp;"
      //let viewCount7 = "&nbsp;週間再生回数:{{result.viewCount7 | intcomma }}&nbsp;"
      //let likeCount7 = "&nbsp;週間高評価数:{{result.likeCount7 | intcomma }}&nbsp;"
      //let viewCount30 = "&nbsp;月間再生回数:{{result.viewCount30 | intcomma }}&nbsp;"
      //let likeCount30 = "&nbsp;月間高評価数:{{result.likeCount30 | intcomma }}&nbsp;"

        function showimg0() {
          //document.getElementById("viewCount").innerHTML = "&nbsp;総合再生回数:{{result.viewCount | intcomma }}&nbsp;";
          //document.getElementById("likeCount").innerHTML = "&nbsp;総合高評価数:{{result.likeCount | intcomma }}&nbsp;";
          document.getElementById("viewGraph").src = "data:image/png;base64,{{ viewgraph | safe }}";
          document.getElementById("likeGraph").src = "data:image/png;base64,{{ likegraph | safe }}";
          //document.getElementById("likeCount").src = "data:image/png;base64,{{ likegraph | safe }}";
        }
        function showimg7() {
          //document.getElementById("viewCount").innerHTML = viewCount7;
          //document.getElementById("likeCount").innerHTML = likeCount7;
          document.getElementById("viewGraph").src = "data:image/png;base64,{{ viewgraph7 | safe }}";
          document.getElementById("likeGraph").src = "data:image/png;base64,{{ likegraph7 | safe }}";
        }
        function showimg30() {
          //document.getElementById("viewCount").innerHTML = viewCount30;
          //document.getElementById("likeCount").innerHTML = likeCount30;
          document.getElementById("viewGraph").src = "data:image/png;base64,{{ viewgraph30 | safe }}";
          document.getElementById("likeGraph").src = "data:image/png;base64,{{ likegraph30 | safe }}";
        }
      </script>
    </div>

  </div>

</div>

<a class="pagetop" href="#"><div class="pagetop__arrow"></div></a>
{% endblock content %}